@font-face {
    font-family: Guhu;
    src: url(Assets/Fonts/GohuFont11NerdFont-Regular.ttf);
}

body {
    background-image: url(Assets/Cyberpunk\ Pixel\ Art\ 1920x1080.jpg);
    backdrop-filter: blur(30px);
    
}

body {
    display: flex;
    min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
    align-items: flex-end;
    margin: 0; /* to remove defaut margin to make blur cover full image */
    
}

.footer {
    color: aliceblue;
    font-family: Guhu;
    font-size: 40px;
}








